 h1 {
     text-align: center;
     font-family: Arial;
 }
 
 body {
     font-family: Arial;
 }
 
 header {
     font-family: Arial;
 }
 
 p {
     text-align: justify;
     font-family: Arial;
 }
 
 body {
     background-color: rgb(255, 141, 160);
 }
